Source: libapache2-mod-cloudflare
Section: web
Priority: optional
Maintainer: Mario Oyorzabal Salgado <tuxsoul@tuxsoul.com>
Build-Depends: debhelper (>> 4.0.0), apache2-prefork-dev
Standards-Version: 3.7.2.2
Homepage: http://www.cloudflare.com

Package: libapache2-mod-cloudflare
Architecture: any
Depends: apache2.2-common, ${shlibs:Depends}, ${misc:Depends}
Description: Correctly reports remote_ip when on CloudFlare network
 based on mod_remoteip.c, this apache extension will replace the remote_ip
 variable in user's logs with the correct remote_ip sent from cloudflare.
 .
 this also does authentication, actually, only performing the switch for ips in
 the range: "204.93.240.0/24", "204.93.177.0/24", "204.93.173.0/24",
 "199.27.128.0/21".
 .
 cloudflare protects and accelerates any website online. once your website is
 a part of the cloudflare community, its web traffic is routed through our
 intelligent global network. we also block threats and limit abusive bots and
 crawlers from wasting your bandwidth and server resources.
